
h1
{
    font-size: 40px;
}

h1, h3
{
    text-align:center;
}

h3
{
    background-color:black;
    color:white;
    font-size:0.9rem;
    margin-bottom:0px;
}

 .main
{
    width:70%;
    margin:auto;
}

.content
{
    background-color:#CCCCCC;
    margin-top:0px;
}

a
{
    text-decoration: none;
    color: blue;
}
